<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/bddforum</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <mapping resource="Domain/Utilisateur.hbm.xml" />
        <mapping resource="Domain/Message.hbm.xml" />
        <mapping resource="Domain/Topic.hbm.xml" />
        <mapping resource="Domain/Droit.hbm.xml" /> 
        <mapping resource="Domain/UtilisateurConnecter.hbm.xml" /> 
        <mapping resource="Domain/Discussion.hbm.xml" /> 
        <mapping resource="Domain/Groupe.hbm.xml" />
    </session-factory>
</hibernate-configuration>
